<template>
  <div
    class="game"
    :class="{'looser-mode': settings.looserMode}"
    @click="disableScreenHelp"
    @contextmenu="disableScreenHelp"
  >
    <div class="game-content" :class="{'game-over': gameOver, 'game-win': gameWin}">
      <div class="game-header">
        <div class="game-header-title">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <div class="text">Mine FCKR</div>
            </div>
            <div class="flip-box-back">
              <a class="repo" href="https://gitlab.com/medovarus/mine-fckr" target="_blank"/>
            </div>
          </div>
        </div>

        <div class="game-header-info">
          <div>Cells: {{ ui.openedCells }} / {{ ui.totalCells }}</div>
          <div :class="{'green': ui.totalFlagsCount === ui.totalMinesCount}">
            Mines: {{ ui.totalFlagsCount }} / {{ ui.totalMinesCount }}
          </div>
        </div>

        <div class="game-header-settings">
          <div class="game-header-settings-item">
            <div
              class="looser-btn"
              :class="{active: settings.looserMode}"
              @click="toggleLooserMode"
            >
              {{ settings.looserMode ? 'Shame mode' : 'Help me!' }}
            </div>
          </div>

          <div class="game-header-settings-item">
            <div class="game-header-settings-label">Field width</div>
            <select v-model="settings.fieldSizeX">
              <option v-for="(fieldSize, index) in fieldSizes" :key="index">{{ fieldSize }}</option>
            </select>
          </div>
          <div class="game-header-settings-item">
            <div class="game-header-settings-label">Field height</div>
            <select v-model="settings.fieldSizeY">
              <option v-for="(fieldSize, index) in fieldSizes" :key="index">{{ fieldSize }}</option>
            </select>
          </div>
          <div class="game-header-settings-item">
            <div class="game-header-settings-label">Difficulty</div>
            <select v-model="settings.difficulty">
              <option
                v-for="(difficultyObj, key) in difficulties" :value="difficultyObj.value"
                :key="key"
              >
                {{ difficultyObj.label }}
              </option>
            </select>
          </div>

          <div class="game-header-settings-item">
            <div class="restart-btn" @click="restartGame">RESTART</div>
          </div>

          <div class="game-field-ready" v-if="gameReadyToEnd">
            <div class="ready-btn" @click="endGame">Check<span>your price</span></div>
          </div>
        </div>

      </div>

      <div class="game-field">
        <div class="field" :class="fieldClass" @contextmenu.prevent>
          <div class="col" v-for="(rowObj, x) in fieldMap" :key="x">
            <template v-for="(cellData, y) in rowObj" :key="y">
              <div
                :class="[
                  'cell',
                  `cell-color-${fieldMap[x][y].minesAround}`,
                  {
                    'cell-opened': fieldMap[x][y].opened,
                    'cell-mine': fieldMap[x][y].opened && fieldMap[x][y].hasMine,
                    'cell-flag': fieldMap[x][y].playerFlag
                  }]"
                @click="clickCell(x, y)"
                @contextmenu.prevent="rightClickCell(x, y)"
              >
                <span class="cell-mines-count" v-if="fieldMap[x][y].minesAround > 0">
                  {{ fieldMap[x][y].minesAround }}
                </span>

                <div
                  class="cell-help"
                  v-if="screenHelp && fieldMap[x][y].cellWithHelp"
                  @mouseover="disableScreenHelp"
                >
                  Right click to set mine Flag <i/>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>

      <div class="looser-field" v-if="settings.looserMode">
        <div class="col" v-for="(rowObj, x) in mineMap" :key="x">
          <template v-for="(cellData, y) in rowObj" :key="y">
            <div class="cell" :class="{'cell-mine': mineMap[x][y] < 0}">
              {{ mineMap[x][y] < 0 ? 'M' : mineMap[x][y] }}
            </div>
          </template>
        </div>
      </div>
    </div>

    <div class="game-overlay" v-if="gameOver || gameWin">
      <div class="game-overlay-title">
        {{ gameWin ? 'YOU WIN!' : 'GAME OVER, b#tch !' }}
      </div>
      <div class="game-overlay-thanks">
        {{ gameWin ? 'So, you can star this project:' : 'You can blame me here:' }}
        <a href="https://gitlab.com/medovarus/mine-fckr" target="_blank">https://gitlab.com/medovarus/mine-fckr</a>
      </div>
      <div class="replay-btn" @click="restartGame" :class="{'game-win': gameWin}">
        {{ gameWin ? 'Play again, buddy?' : 'RESTART' }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import {
  Coords, CoordsStr, Difficulty, FieldMap, FieldObj, MineMap,
} from '@/views/_interfaces';

const initialSettings = {
  looserMode: false,
  fieldSizeX: '10',
  fieldSizeY: '10',
  difficulty: Difficulty.low,
};

const defaults = {
  ui: {
    totalFlagsCount: 0,
    totalMinesCount: 0,
    totalCells: 0,
    openedCells: 0,
  },
  gameWin: false,
  gameOver: false,
  gameReadyToEnd: false,
  fieldMaxX: 0,
  fieldMaxY: 0,
  fieldMap: {},
  mineMap: {},
  markedMinesCoords: [],
};

export default defineComponent({
  name: 'Game',
  data() {
    return {
      // Список сложностей игры
      difficulties: [
        {
          label: 'low',
          value: Difficulty.low,
        },
        {
          label: 'normal',
          value: Difficulty.normal,
        },
        {
          label: 'high',
          value: Difficulty.high,
        },
      ],

      // Размеры игрового поля
      fieldSizes: ['10', '15', '20', '25', '30'],

      // Настройки пользователя
      settings: { ...initialSettings },

      // Помощь игроку, по постановке флагов
      screenHelp: true,

      // Информация об игре для игрока
      ui: {
        totalFlagsCount: 0,
        totalMinesCount: 0,
        totalCells: 0,
        openedCells: 0,
      },

      // Флаг выигрыша
      gameWin: defaults.gameWin,

      // Флаг проигрыша
      gameOver: defaults.gameOver,

      // Показывать ли кнопку завершения игры
      gameReadyToEnd: defaults.gameReadyToEnd,

      // Длина поля
      fieldMaxX: defaults.fieldMaxX,

      // Высота поля
      fieldMaxY: defaults.fieldMaxY,

      // Карта ячеек для игрока
      fieldMap: defaults.fieldMap as FieldMap,

      // Карта мин (для игры)
      mineMap: defaults.mineMap as MineMap,

      // Карта отмеченных игроком мин
      markedMinesCoords: [] as CoordsStr[],
    };
  },
  mounted() {
    // При загрузке компонента генерируем поле
    this.generateField(this.settings.fieldSizeX, this.settings.fieldSizeY);

    // Отключаем обучение, чтобы не мешало
    setTimeout(() => this.disableScreenHelp(), 8000);
  },
  computed: {
    fieldClass() {
      const maxFieldSize = Math.max(this.fieldMaxX, this.fieldMaxY);

      if (maxFieldSize > 25) {
        return 'field-xl';
      }
      if (maxFieldSize > 20) {
        return 'field-lg';
      }
      if (maxFieldSize > 15) {
        return 'field-md';
      }
      if (maxFieldSize >= 10) {
        return 'field-sm';
      }
      return 'field-sm';
    },
  },
  methods: {
    // Очистка временных данных игры
    clearGameData(): void {
      this.ui = { ...defaults.ui };
      this.gameWin = defaults.gameWin;
      this.gameOver = defaults.gameOver;
      this.gameReadyToEnd = defaults.gameReadyToEnd;
      this.fieldMaxX = defaults.fieldMaxX;
      this.fieldMaxY = defaults.fieldMaxY;
      this.fieldMap = defaults.fieldMap;
      this.mineMap = defaults.mineMap;
      this.markedMinesCoords = defaults.markedMinesCoords;
    },

    // Завершение игры и веселый экран
    endGame(): boolean {
      this.gameReadyToEnd = false;

      if (this.ui.totalFlagsCount !== this.ui.totalMinesCount) {
        this.gameOver = true;
        return false;
      }

      // eslint-disable-next-line consistent-return
      this.markedMinesCoords.forEach((coords) => {
        if (this.mineMap[coords.x][coords.y] === -1) {
          this.gameWin = true;
          return true;
        }
      });

      this.gameOver = true;
      return false;
    },

    // Перезапуск игры (стираются все данные, кроме настроек)
    restartGame(): void {
      this.clearGameData();
      this.generateField(this.settings.fieldSizeX, this.settings.fieldSizeY);
    },

    // Включение режима помощи в игре
    toggleLooserMode() {
      this.settings.looserMode = !this.settings.looserMode;
    },

    // Отключаем обучение, чтобы не мешала
    disableScreenHelp() {
      this.screenHelp = false;
    },

    // Создаем игровое поле и карту мин
    generateField(rowsStr = '10', colsStr = '10') {
      const rows = parseInt(rowsStr, 10);
      const cols = parseInt(colsStr, 10);
      const difficulty = parseFloat(this.settings.difficulty);
      const mineMap: MineMap = {};
      const fieldMap: FieldMap = {};
      let totalMinesCount = 0;
      let helpCellAcquired = false;

      this.fieldMaxX = rows;
      this.fieldMaxY = cols;
      this.ui.totalCells = rows * cols;

      for (let mX = 1; mX <= rows; mX += 1) {
        mineMap[mX] = {};
        for (let mY = 1; mY <= cols; mY += 1) {
          mineMap[mX][mY] = 0;
        }
      }

      // Генерируем столбцы (ось X)
      for (let x = 1; x <= rows; x += 1) {
        fieldMap[x] = {};

        // Генерируем столбцы (ось Y)
        for (let y = 1; y <= cols; y += 1) {
          // Если первая клетка, то будет без мины, или генерируем её случайно
          const hasMine = x === 1 && y === 1 ? false : Math.random() < difficulty;

          fieldMap[x][y] = {
            hasMine,
            minesAround: 0,
            opened: false,
            checked: false,
            playerFlag: false,
            cellWithHelp: false,
          };

          // Когда появляется мина - заполняем минную карту и увеличиваем счетчик мин на соседних ячейках
          if (hasMine) {
            totalMinesCount += 1;
            mineMap[x][y] = -1;

            const nearCellCoords: Coords[] = [
              { x: x - 1, y: y - 1 },
              { x: x - 1, y },
              { x: x - 1, y: y + 1 },
              { x, y: y - 1 },
              { x, y: y + 1 },
              { x: x + 1, y: y - 1 },
              { x: x + 1, y },
              { x: x + 1, y: y + 1 },
            ];

            nearCellCoords.forEach((cell: Coords) => {
              if (
                cell.x >= 1
                && cell.x <= this.fieldMaxX
                && cell.y >= 1
                && cell.y <= this.fieldMaxY
              ) {
                if (mineMap[cell.x][cell.y] !== -1) {
                  mineMap[cell.x][cell.y] += 1;
                }
              }
            });

            // Помечаем одну клетку с бомбой для показа обучения
            if (!helpCellAcquired) {
              fieldMap[x][y].cellWithHelp = true;
              helpCellAcquired = true;
            }
          }
        }
      }

      this.ui.totalMinesCount = totalMinesCount;
      this.fieldMap = fieldMap;
      this.mineMap = mineMap;

      // Кликаем по первой ячейке, где точно нет бомбы, для начала игры
      this.clickCell('1', '1');
    },

    // Обработка клика на закрытую ячейку минного поля
    clickCell(x: string, y: string) {
      const currentCell = this.fieldMap[x][y];

      // Если на неё не кликали, то проверяем на наличие мин. Если 0 мин вокруг, то рекурсивно смотрим вокруг
      if (!currentCell.opened && !currentCell.playerFlag) {
        if (this.checkCell(x, y)) {
          this.endGame();
        } else if (this.mineMap[x][y] === 0) {
          this.checkAround(x, y);
        }
      }

      if (currentCell.playerFlag) {
        currentCell.playerFlag = false;
        this.changeMarkedMinesCount({ x, y }, 'delete');
      }
    },

    // Обработка правого клика на ячейке, для постановки флага
    rightClickCell(x: string, y: string) {
      const currentCell: FieldObj = this.fieldMap[x][y];

      // Изменяем состояние текущего флага
      if (!currentCell.checked && !currentCell.opened) {
        currentCell.playerFlag = !currentCell.playerFlag;

        // Считаем количество установленных флагов
        if (currentCell.playerFlag) {
          this.changeMarkedMinesCount({ x, y }, 'add');
        } else {
          this.changeMarkedMinesCount({ x, y }, 'delete');
        }
      }

      this.gameReadyToEnd = this.ui.totalFlagsCount === this.ui.totalMinesCount;
    },

    // Обработка ячейки минного поля. Возвращает true, если есть мина
    checkCell(x: string, y: string): boolean {
      const currentCell: FieldObj = this.fieldMap[x][y];

      // Считываем количество мин вокруг (с карты мин)
      const minesAround = this.mineMap[x][y];

      // Добавляем информацию об открытых ячейках
      if (!currentCell.opened) {
        this.ui.openedCells += 1;
      }

      // Отмечаем ячейку проверенной (она не попадет в список проверяемых ячеек)
      currentCell.checked = true;
      currentCell.opened = true;

      if (currentCell.hasMine) {
        return true;
      }

      // Ячейки без бомбы открываем и пишем количество мин вокруг
      currentCell.minesAround = minesAround;

      return false;
    },

    // Проверка ячеек вокруг выбранной
    checkAround(cellX: string, cellY: string): void {
      // Собираем список существующих координат вокруг ячейки
      const nearCellCoords = this.getNearCoords(cellX, cellY);
      let isMineFound = false;

      // Проверяем каждую ячейку вокруг и, если необходимо, запускаем дальнейший поиск "пустот"
      nearCellCoords.forEach((cell: Coords) => {
        isMineFound = this.checkCell(`${cell.x}`, `${cell.y}`);
        const minesCount = this.mineMap[cell.x][cell.y];

        // Входим в рекурсивное сканирование ближних ячеек, если эта ячейка без бомбы или не имеет бомб вокруг
        if ((minesCount === 0) && !isMineFound) {
          this.checkAround(`${cell.x}`, `${cell.y}`);
        }
      });
    },

    // Получение валидных координат (учет края поля и "проверки" ячейки)
    getNearCoords(cellX: string, cellY: string): Coords[] {
      const validNearCellCoords: Coords[] = [];
      const x = parseInt(cellX, 10);
      const y = parseInt(cellY, 10);

      // Общий список координат, которые надо проверить вокруг
      const nearCellCoords: Coords[] = [
        { x: x - 1, y: y - 1 },
        { x: x - 1, y },
        { x: x - 1, y: y + 1 },
        { x, y: y - 1 },
        { x, y: y + 1 },
        { x: x + 1, y: y - 1 },
        { x: x + 1, y },
        { x: x + 1, y: y + 1 },
      ];

      // Проверяем весь список координат, отсеивая проверенные и несуществующие
      nearCellCoords.forEach((cell: Coords) => {
        if (
          cell.x >= 1
          && cell.x <= this.fieldMaxX
          && cell.y >= 1
          && cell.y <= this.fieldMaxY
          && !this.fieldMap[cell.x][cell.y].checked
        ) {
          validNearCellCoords.push({ x: cell.x, y: cell.y });
        }
      });

      return validNearCellCoords;
    },

    // Изменение счетчика отмеченных мин и наполнение массива координатами отмеченных мин
    changeMarkedMinesCount(coords: CoordsStr, operation: 'add' | 'delete') {
      if (operation === 'add') {
        this.markedMinesCoords.push(coords);
      } else {
        const indexToDelete = this.markedMinesCoords.findIndex(
          (obj) => JSON.stringify(obj) === JSON.stringify(coords),
        );

        this.markedMinesCoords.splice(indexToDelete, 1);
      }

      this.ui.totalFlagsCount = this.markedMinesCoords.length;
    },
  },
});
</script>

<style lang="scss" scoped src="./styles.scss"></style>
