.game {
  position: relative;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  height: 100%;

  &.looser-mode {
    background: linear-gradient(240deg, #ff4d4d, #ffb84d, #d6de64, #8fdb8c, #64a4ed, #905ef2, #cc57f7, #fa52e4, #ff4d4d);
    background-size: 1800% 1800%;
    animation: looserBgAnimation 12s ease infinite;

    @keyframes looserBgAnimation {
      0% {
        background-position: 0 22%
      }
      50% {
        background-position: 100% 79%
      }
      100% {
        background-position: 0 22%
      }
    }
  }
}

.game-content {
  position: relative;
  flex: 1 1 auto;

  &.game-over {
    filter: blur(3px);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#36369a, .7);
    }
  }

  &.game-win {
    filter: blur(2px);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(black, .6);
    }
  }

  .game-header {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 70px;

    .game-header-title {
      width: 300px;
      height: 100%;
      margin-right: 32px;
      background-color: transparent;
      flex: 0 0 auto;
      font-size: 40px;
      font-weight: bold;
      color: #360000;
      text-shadow: 2px 2px 0 rgba(white, .4);
      perspective: 1000px;

      &:hover .flip-box-inner {
        transform: rotateX(180deg);
      }

      .flip-box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }

      .flip-box-front, .flip-box-back {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      .flip-box-back {
        transform: rotateX(180deg);
      }

      .repo {
        display: block;
        width: 100px;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        padding: 2px 4px;
        border-radius: 10px;
        background: white url('~@/assets/img/gitlab-logo-gray-rgb.svg') 50% 50% no-repeat;
        background-size: contain;
        font-size: 0;
        color: transparent;
        cursor: pointer;
        transition: all .15s ease-in-out;

        &:hover {
          transform: scale(1.1);
          background-color: #b7d9ff;
        }
      }
    }

    .game-header-info {
      min-width: 125px;

      > div {
        &.green {
          font-weight: 900;
          color: #35e000;
          text-shadow: 1px 1px 0 #6565ff;
        }

        &:nth-child(n+2) {
          margin-top: 2px;
        }
      }
    }

    .game-header-settings {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      align-content: center;
      padding-right: 32px;

      .game-header-settings-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        margin-left: 32px;

        .game-header-settings-label {
          padding-right: 8px;
        }

        select {
          padding: 2px 4px;
        }

        .restart-btn {
          padding: 4px 16px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: #6565ff;
          font-size: 16px;
          font-weight: bold;
          color: white;
          transition: all .1s ease-in-out;
          cursor: pointer;
          box-shadow: 4px 4px 0 0 white;
          transform: translate(-4px, -4px);
          user-select: none;

          &:hover {
            transform: translate(-2px, -2px);
            box-shadow: 2px 2px 0 0 transparent, 2px 2px 0 0 white;
          }

          &:active {
            border-color: transparent;
            background-color: #5e0101;
            transform: translate(0, 0);
            box-shadow: 4px 4px 0 0 transparent;
          }
        }

        .looser-btn {
          padding: 4px 16px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: #cbcbcb;
          font-size: 12px;
          font-weight: bold;
          color: #360000;
          transition: all .1s ease-in-out;
          white-space: nowrap;
          cursor: pointer;
          box-shadow: 4px 4px 0 0 white;
          transform: translate(-4px, -4px);
          user-select: none;

          &:hover {
            transform: translate(-2px, -2px);
            box-shadow: 2px 2px 0 0 transparent, 2px 2px 0 0 white;
          }

          &:active {
            border-color: transparent;
            background-color: #00d4ff;
            transform: translate(0, 0);
            box-shadow: 4px 4px 0 0 transparent;
          }

          &.active {
            background: linear-gradient(
                            0deg,
                            #64d2ed 0%,
                            #64a4ed 30%,
                            #648ded 60%,
                            #6864ed 100%
            );
            font-size: 20px;
            text-transform: capitalize;
          }
        }
      }
    }
  }

  .game-field {
    position: relative;
    flex: 1 1 auto;

    .field {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding: 0 16px 16px 16px;

      .col {
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        align-content: stretch;
        flex-direction: column;
      }

      .cell {
        flex: 0 0 auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 50px;
        height: 50px;
        margin: 1px;
        background-color: #343488;
        font-size: 24px;
        user-select: none;

        &.cell-opened {
          background-color: white;
        }

        &.cell-color- {
          &1 {
            background-color: #00ff00;
          }

          &2 {
            background-color: #55ff00;
          }

          &3 {
            background-color: #aaff00;
          }

          &4 {
            background-color: #d4ff00;
          }

          &5 {
            background-color: #ffff00;
          }

          &6 {
            background-color: #ffd500;
          }

          &7 {
            background-color: #ffaa00;
          }

          &8 {
            background-color: #ff8000;
          }
        }

        &.cell-mine, &.cell-flag {
          background-color: #ff2b00;

          &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 70%;
            height: 70%;
            background: url('~@/assets/img/mine-black.svg') 50% 50% no-repeat;
            background-size: contain;
            border-radius: 50%;
            transform: translate(-50%, -50%);
          }
        }

        &.cell-flag {
          background-color: #c7c7c7;
        }

        .cell-help {
          $bgColor: #ffd280;

          position: absolute;
          top: 100%;
          left: 10%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          align-content: center;
          padding: 4px 12px;
          border-radius: 4px;
          background-color: $bgColor;
          font-size: 32px;
          white-space: nowrap;
          z-index: 2;
          user-select: none;
          cursor: pointer;

          i {
            flex: 0 0 auto;
            display: inline-block;
            width: 40px;
            height: 40px;
            margin-left: 12px;
            background: #c7c7c7 url('~@/assets/img/mine-black.svg') 50% 50% no-repeat;
            background-size: contain;
          }

          &::after {
            content: '';
            position: absolute;
            top: -15px;
            left: 10px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 20px 10px;
            border-color: transparent transparent $bgColor transparent;
          }
        }

        .cell-mines-count {
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          width: 100%;
          height: 100%;
          font-weight: bold;
        }

        &:hover:not(.cell-opened) {
          border-color: white;
          cursor: pointer;
          box-shadow: inset 0 0 0 2px white;
        }
      }

      &.field-xl .col .cell {
        width: 25px;
        height: 25px;
        font-size: 16px;
      }

      &.field-lg .col .cell {
        width: 27px;
        height: 27px;
        font-size: 20px;
      }

      &.field-md .col .cell {
        width: 35px;
        height: 35px;
        font-size: 22px;
      }

      &.field-sm .col .cell {
        width: 40px;
        height: 40px;
        font-size: 24px;
      }
    }
  }

  .looser-field {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    padding: 4px;
    border: 1px solid black;
    background-color: white;

    .col {
      display: flex;
      justify-content: stretch;
      align-items: stretch;
      align-content: stretch;
      flex-direction: column;
    }

    .cell {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 15px;
      height: 15px;
      background-color: white;
      border: 1px solid #eaeaea;
      color: black;
      font-size: 8px;
      user-select: none;

      &.cell-mine {
        background-color: #e07a7a;
      }
    }
  }

  .game-field-ready {
    position: absolute;
    top: 20%;
    right: 20%;
    display: block;
    transform: rotate(-5deg);
    z-index: 2;

    .ready-btn {
      padding: 8px 24px;
      border: 1px solid white;
      border-radius: 20px;
      background-color: #478f2f;
      font-size: 16px;
      font-weight: bold;
      color: white;
      line-height: 1;
      transition: all .1s ease-in-out;
      cursor: pointer;
      box-shadow: 4px 4px 0 0 white;
      transform: translate(-4px, -4px);
      user-select: none;
      animation: sizeChange 6s linear infinite alternate-reverse;

      span {
        display: block;
        font-size: 24px;
      }

      &:hover {
        transform: translate(-2px, -2px);
        box-shadow: 2px 2px 0 0 white;
      }

      &:active {
        border: 0;
        background-color: #2e5c1e;
        transform: translate(0, 0);
        box-shadow: 0 0 0 0 white;
      }

      @keyframes sizeChange {
        to {
          background-color: #ffb833;
        }
      }
    }
  }
}

.game-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: rgba(black, .1);
  user-select: none;

  .game-overlay-title {
    width: 100%;
    background: linear-gradient(to right, #ff4747 20%, #7bf652 40%, #67b3f1 60%, white 80%);
    background-size: 200% auto;
    background-clip: content-box;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: monospace;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 1px;
    animation: shine 2s linear infinite alternate-reverse;

    @keyframes shine {
      to {
        background-position: 200% center;
      }
    }
  }

  .game-overlay-thanks {
    width: 100%;
    font-size: 24px;
    color: white;

    a {
      color: #ffb833;
      text-shadow: 1px 1px 0 #36369a;

      &:hover {
        color: white;
        text-shadow: 1px 1px 0 #6565ff;
      }
    }
  }

  .replay-btn {
    margin-top: 40px;
    padding: 8px 24px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: darkred;
    font-size: 40px;
    font-weight: bold;
    color: white;
    transition: all .1s ease-in-out;
    cursor: pointer;
    box-shadow: 4px 4px 0 0 white;
    transform: translate(-4px, -4px);
    user-select: none;

    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: 2px 2px 0 0 white;
    }

    &:active {
      border: 0;
      background-color: #5e0101;
      transform: translate(0, 0);
      box-shadow: 0 0 0 0 white;
    }

    &.game-win {
      border-color: black;
      background-color: #ffb833;
      color: black;
      box-shadow: 4px 4px 0 0 black;

      &:hover {
        transform: translate(-2px, -2px);
        box-shadow: 2px 2px 0 0 black;
      }

      &:active {
        border: 0;
        background-color: #ffa600;
        transform: translate(0, 0);
        box-shadow: 0 0 0 0 black;
      }
    }
  }
}
